.container-about {
    padding: 20px;
}

.about-header h1 {
    font-size: 2.5em;
}

.project h2 {
    font-size: 1.5em;
}

.project p {
    line-height: 1.6;
    padding: 0 20px;
}

.container-about a {
    color: #007bff;
    text-decoration: none;
}

.container-about a:hover {
    text-decoration: underline;
}