/* 
Color palette able to be used throughout pages
Should later on be able to be changed by user, with help of js
*/

:root {
  --hue: 200;
  --hue-complement: calc(var(--hue) + 180);
  --hue-right-analogous: calc(var(--hue) + 30);
  --hueleft-analogous: calc(var(--hue) - 30);
  

  /* color for borders */
  --color-border: hsl(var(--hue) 20% 85%);  /* main color for borders */

  /* colors for background */
  --background-color: #fff;          /* main color background */
  --background-color-top-nav: #DFEEF1;  /* color background of top bar navigation and for titles between sections */
  --background-color-left-nav: #4E869B; /* color background of left bar navigation */
  --background-nav-hover: #427385;      /* color when hovering over navigation */
  --background-color-second-row: hsl(var(--hue-right-analogous) 40% 95%); /* changes background security/privacy risk */
  --background-color-second-row-area: hsl(var(--hueleft-analogous) 40% 40%); /* changes background of small area in security/privacy risk */
  --background-piechart: hsl(var(--hueleft-analogous) 40% 90%); /* changes background pie-chart */
  --background-color-table-header: white;
  --background-color-integration: #f4f4f4;

  /* colors for text */
  --text-body: #333;                                  /* main text color */
  --text-navigation: hsl(var(--hue-complement) 5% 30%);  /* left side navigation text */
  --text-settings-hover: #646464;                     /* hover over settings text color */
  --text-left-nav: #e7e7e7;                           /* text color left navigation */

  /* colors for the different risks */
  --high-risk-color: #e06666;
  --medium-risk-color: #f6b26b;
  --low-risk-color: #ffd966;
  --no-risk-color: #93c47d;
  --info-color: rgb(106, 205, 223);
}