@import url(color-palette.css);

.dashboard {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.container-dashboard {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 30%;
  /* box-sizing: border-box; */
}

.dashboard-segment {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  flex: 1;
}

/** FIRST COLUMN **/

/* security status */
.security-status {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.security-status p {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.25rem;
  color: var(--text-body);
}

/* risk counters */
.high-risk, .medium-risk, .low-risk, .info-risk, .no-risk {
  border-radius: 10px;
}

.risk-counter {
  margin: 5px 10px 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.risk-counter p {
  background-color: var(--background-color);
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  font-size: 18px;
  border-radius: 10px;
  color: var(--text-body);
}

.high-risk {
  background-color: var(--high-risk-color);
}

.medium-risk {
  background-color: var(--medium-risk-color);
}

.low-risk {
  background-color: var(--low-risk-color);
}

.info-risk {
  background-color: var(--info-color);
}

.no-risk {
  background-color: var(--no-risk-color);
}

/* SECOND COLUMN */

/* risk distribution pie chart */
.pie-chart-container {
  width: 100%;
  text-align: center;
  min-height: 200px;
  margin: 10px;
}

#pie-chart, #interval-graph  {
  max-width: 100%;
  height: auto;
}

/* risk distribution graph */
.graph-segment-content {
  display: flex;
  flex-wrap: wrap; /* Ensures side-by-side layout */
  justify-content: space-evenly;
}

.graph-buttons {
  flex: 1;
  padding: 10px;
}

.interval-graph-container{
  flex: 1;
  padding: 10px;
  width: 100%;
  text-align: center;
  min-height: 200px;
  /* margin: 10px; */
}

.interval-button {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 10px 16px;
  font-family: inherit;
  min-width: 160px;
  float: left;
  margin: 10px 0 0;
  text-align: center;
  border-radius: 10px;
}

.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: var(--background-color-left-nav);
  color: white;
  font-family: inherit;
  min-width: 192px;
  border-radius: 10px;
}

.dropbtn:hover {
  background-color: var(--background-nav-hover);
  cursor: pointer;
}

.dropdown-selector {
  display: none;
  position: absolute;
  background-color: var(--background-color-left-nav);
  min-width: 192px;
  box-shadow: 0 8px 36px 0 rgb(0 0 0);
  z-index: 1;
}
  
.dropdown-selector p {
  float: none;
  color: rgb(68 68 68);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show{
  display: block;
}

/* THIRD COLUMN */

/* issue buttons */
.issue-buttons {
  display: flex;
  justify-content: space-between;
}

.issue-button {
  margin: 0 10px 10px;
  background: var(--background-color-left-nav);
  color: var(--text-left-nav);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  padding: 10px; 
  color: var(--text-left-nav);
  display: grid;
}

.issue-button:hover {
  background: var(--background-nav-hover);
  cursor: pointer;
}

.issue-button p {
  margin: 0;
}

/* risk areas */
.risk-areas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.security-area {
  height: 100px;
  flex: 1;
  background-color: var(--background-color-left-nav);
  border-radius: 10px;
  margin: 0 10px 10px;
  text-align: center;
}

.security-area p {
  color: var(--text-left-nav);
  padding: 5px;
  border-radius: 10px;
}

.security-area:hover {
  background-color: var(--background-nav-hover);
  cursor: pointer;
}

.security-area .material-symbols-outlined {
  font-size: 40px;
  display: block;
}
