/* all pages */
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background: var(--background-color);
  color: var(--text-body);
  overflow-x: hidden;
  position: relative; /* Ensure the body is positioned relative for child absolute elements */
  height: 100vh; /* Ensure the body takes the full viewport height */
}

#page-contents {
  margin-top: 60px;
}

/* Base Styles */
.home-page {
  display: flex;
  flex-direction: column; /* Align containers vertically */
  align-items: flex-start; /* Align containers to the right */
  padding: 10px;
  position: relative; /* Ensure the home-page is positioned relative for stacking context */
  z-index: 1; /* Ensure the home-page is above the video background */
}

.container-home {
  flex: 1;
  box-sizing: border-box;
  width: 40%; /* Ensure containers take half the width */
}

.data-segment {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  background: rgba(255 255 255 50%); /* More transparent background */
}

.data-segment-header {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.data-segment-header p {
  margin: 10px;
}

/* Pie Chart 
.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pie-chart {
  width: 100%;
  max-width: 300px;
  height: auto;
}
*/

/* Issue Buttons */
.issue-button {
  display: block;
  background-color: #4682b4;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.video-background {
  position: fixed; /* Fixed position to cover the entire screen */
  left: 10%; /* Adjusted position to the right */
  bottom: 0; /* Adjusted position downwards */
  width: 100vw; /* Set width to cover the viewport width */
  height: 100vh; /* Set height to cover the viewport height */
  z-index: -1; /* Ensure it is behind all other elements */
  object-fit: cover; /* Ensure the video covers the entire background without distortion */
}