@import url(color-palette.css);

body {
  background-color: var(--background-color);
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-body);
  overflow-x: hidden;
}

#page-contents {
  margin-top: 55px;
}

h2 {
  color: var(--text-body);
}

/* Base Styles */
.home-data {
  display: flex;
  flex-wrap: wrap;
}

.container-data {
  flex: 1 1 50%;
  padding: 10px;
  box-sizing: border-box;
}

.data-segment {
  border: 1px solid #ddd;
  background: var(--background-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.data-column {
  display: flex;
  flex-direction: column;
}

/* Pie Chart */
.pie-chart-container {
  width: 100%;
  text-align: center;
}

#pieChart {
  max-width: 100%;
  height: auto;
}

/* Issue Buttons */
.issue-buttons {
  display: flex;
  justify-content: space-between;
}

.issue-button {
  padding: 10px 20px;
  background: var(--background-color-top-nav);
  color: var(--text-body);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.issue-button:hover {
  background: var(--background-color-left-nav);
}

/* Medals */
.medals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this to start if medals stretch unevenly */
  align-items: center; /* Vertically align medals */
  margin: 20px 0; /* Top and bottom margin for spacing */
}

.medal-layout {
  flex: 0 0 24%; /* Change flex-grow to 0 to prevent growth */
  max-width: 180px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralize content within each medal box */
}

.medal-layout img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
