/* all pages */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  background: var(--background-color);
  color: var(--text-body);
  overflow-x: hidden;
  position: relative; /* Ensure the body is positioned relative for child absolute elements */
  height: 100vh; /* Ensure the body takes the full viewport height */
}

#page-contents {
  margin-top: 60px;
}

/* Base Styles */
.home-page {
  display: flex;
  flex-direction: column; /* Align containers vertically */
  align-items: flex-start; /* Align containers to the right */
  padding: 10px;
  position: relative; /* Ensure the home-page is positioned relative for stacking context */
  z-index: 1; /* Ensure the home-page is above the video background */
}

.container-home {
  flex: 1;
  box-sizing: border-box;
  width: 40%; /* Ensure containers take half the width */
}

.data-segment {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  background: var(--transparant-background); /* More transparent background */
}

.data-segment p {
  margin: 10px;
}

.data-segment-header {
  display:flex;
  align-items:center;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.data-segment-header p {
  margin: 10px;
}

/* Pie Chart 
.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pie-chart {
  width: 100%;
  max-width: 300px;
  height: auto;
}
*/

/* Issue Buttons */
.issue-button {
  display: block;
  background-color: var(--background-security-button);
  color: var(--text-left-nav);
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.issue-button:hover {
  background-color: var(--background-security-button-hover);
  cursor: pointer;
}

.video-background {
  position: fixed; /* Fixed position to cover the entire screen */
  left: 10%; /* Adjusted position to the right */
  bottom: 0; /* Adjusted position downwards */
  width: 100vw; /* Set width to cover the viewport width */
  height: 100vh; /* Set height to cover the viewport height */
  z-index: -1; /* Ensure it is behind all other elements */
  object-fit: cover; /* Ensure the video covers the entire background without distortion */
}

.progress-container {
  width: 90%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
  margin: 0 auto;
}

.progress-bar {
  height: 30px;
  background-color: #64a9ee;
  width: 0;
}

#progress-text, #progress-percentage-text {
  font-size: 1.2em;
  color: #333;
  display: inline-block;
  margin-left: 10px;
}

/* Tooltip */
#lighthouse-progress-tooltip {
  width: 20%;
  height:20%;
}

.lighthouse-progress-tooltip-text {
    visibility: hidden;
    font-size: 16px;
    width: 50%;
    background: var(--background-hover);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */    
    position: absolute;
    z-index: 1;
    bottom: 12%;
}

#lighthouse-progress-tooltip:hover + .lighthouse-progress-tooltip-text {
  visibility:visible;
}
