/* Container for the entire page content */
.issues-data, .program-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Add space at the top */
}

/* Table container */
.table-container, .program-container {
  width: 100%;
  max-width: 800px; /* Limit the width of the table container */
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%); /* Add shadow for depth */
  overflow: hidden; /* Hide overflow content */
}

/* Table titles */
.issues-data h2, .program-container h2 {
  padding: 10px 20px;
  background-color: var(--background-color-left-nav); /* Green background color */
  margin-bottom: 10px; /* Add space below titles */
  border-radius: 8px 8px 0 0; /* Rounded corners for top */
}

/* Button container */
.issues-data .button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-bottom: 20px; /* Add space below the button */
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn-table {
  background-color: var(--background-color-left-nav);
  color: var(--text-body);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown selector */
.dropdown-selector-table {
  display: none;
  position: absolute;
  background-color: var(--background-color-left-nav);
  color: var(--text-body);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  z-index: 1;
  top: 100%; /* Position below the button */
  right: 0; /* Align with the right side of the button */
}

/* Show dropdown content when hovering over dropdown container */
.dropdown-container:hover .dropdown-selector-table {
  display: block;
}

/* Table styles */
.issues-table, .program-table {
  width: 100%;
  overflow-x: auto; /* Allows table to scroll on small screens */
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.issues-table th,
.issues-table td,
.program-table th,
.program-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #8b8b8b; /* Gray border bottom */
}

/* Alternate row background color */
.issues-table tbody tr:nth-child(even), .program-table tbody tr:nth-child(even) {
  background-color: var(--background-color-top-nav);
}

.issues-table th, .program-table th{
  background-color: var(--background-color-table-header);
  text-align: left;
}

/* Sort icon */
.material-symbols-outlined {
  float: none; /* Avoid using float and instead use flex or grid */
  margin-left: auto; /* Align icon to the right using margin */
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

.issue-link:hover {
  color: var(--text-settings-hover);
  cursor: pointer;
}

/* Button styles */
.button {
  background-color: var(--background-color-left-nav);
  color: #fff;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none; /* Remove underline from links styled as buttons */
  display: inline-block; /* Allows padding and width to take effect */
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer; /* Indicate that it's clickable */
  border: none; /* Remove borders for flat design */
  font-size: 16px; /* Increase font size for readability */
  margin: 5px; /* Add some space around buttons */
}

.button:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
  color: #dcdcdc; /* Light grey text color on hover for better contrast */
}

/* Specific Styles for Navigation Buttons */
#back-button, #next-button, #previous-button {
  width: auto; /* Auto width based on content */
  padding: 10px 15px; /* Sufficient padding for touch targets */
  float: none; /* Remove float property */
}

/* Ensure buttons don't line up against each other */
#next-button {
  margin-left: 10px; /* Add space between buttons */
}

#previous-button {
  margin-right: 10px; /* Add space between buttons */
}

/* Responsive design */
@media (width <= 768px) {
  .button, #back-button, #next-button, #previous-button {
    width: 100%; /* Full width on small screens */
    margin-top: 10px; /* Space out stacked buttons */
  }
}

/* Solution Buttons Container */
.solution-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center buttons in the container */
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.button-box {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap */
}

/* Additional styles for better visual */
.issue-information, .issue-solution {
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Add shadow for depth */
  border: 1px solid #dcdcdc; /* Light border for definition */
  margin: 20px; /* Add space around the elements */
  background-color: var(--background-color-top-nav); /* Light background color */
  border-radius: 10px; /* Rounded corners for a softer look */
  padding: 10px; /* Add padding for space inside the elements */
}

/* Additional styles for other elements */
h1, h2{
  color: var(--text-body);
  margin: 10px;
  padding: 10px 0 10px 10px; /* Add some padding to create space around the titles */
}

.issue-information > p{
  margin-left: 20px;
}

.information{
  margin-left: 20px;
}

#step-screenshot {
  display: block;
  max-width: 100%; /* Make it responsive */
  height: auto;
  margin-top: 20px;
}

#search-input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}