@import url(color-palette.css);

.issues-data {
  color: var(--text-body);
  width: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Issue table */
.issues-table {
  float: left;
  flex: 1;
  margin: 10px;
}

.issues-table td, .issues-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.issues-table tr:nth-child(even){background-color: var(--background-color-top-nav);}

.issues-table th {
  text-align: left;
  background-color: var(--background-color-table-header);
  color: var(--text-body);
}

.issue-column span {
  float: left;
}
.table-header {
  margin-top: 2px;
}
.issues-table .material-symbols-outlined {
  float: right;
}
.issues-table .material-symbols-outlined:hover {
  cursor: pointer;
}
.issue-link {
  text-decoration: none;
  color: var(--text-body);
}
.issue-link:hover {
  color: var(--text-settings-hover);
  cursor: pointer;
}

/* Issue pages */
h1 {
  float: left;
  margin-top: 80px;
  margin-left: 260px;
  margin-right: 20px;
  color: var(--text-body);
}

.issue-information {
  float: left;
  margin-left: 260px;
  margin-right: 20px;
  color: var(--text-body);
}

#back-button {
  float: left;
  margin-left: 260px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: var(--text-body);
}
#back-button:hover {
  color: var(--text-settings-hover);
  cursor:pointer;
}

.issue-solution {
  background-color: var(--background-color-top-nav);
  float: left;
  width: 100%;
  border-radius: 10px;
}
.solution-text {
  margin: 20px;
}
#step-screenshot {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}
.solution-buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  margin: 10px;
}
.button-box {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.step-button {
  color: var(--text-body);
}
.step-button:hover {
  color: var(--text-settings-hover);
  cursor:pointer;
}
#next-button {
  float: right;
  width: 130px;
  background-color: var(--background-color-left-nav);
  color: #fff;
  margin-left: auto; 
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
#previous-button {
  float: left;
  width: 130px;
  background-color: var(--background-color-left-nav);
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}