/* Container for the entire page content */
.issues-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Add padding around the content */
}

/* Table container */
.table-container {
  width: 100%;
  overflow: hidden; /* Hide overflow content */
  margin: 20px 0; /* Add space above the table */
  padding: 0px;
  min-height: 300px;
}

.table-header-container {
  display: flex;
  justify-content: space-between; /* Space out the elements */
  align-items: center; /* Center vertically */
  padding: 0; /* Add padding around the header */
  /* border: 1px solid var(--color-border); Light border for definition */
}

/* Table titles */
.issues-data h2 {
  padding: 0px;
  margin-left: 0px;
}

/* Button container */
.issues-data .button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn-table {
  background-color: var(--background-color);
  color: var(--text-body);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown selector */
.dropdown-selector-table {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-body);
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  padding-left: 10px;
  z-index: 1;
  /* top: 100%; */
  right: 0;
}

/* Show dropdown content when hovering over dropdown container */
.dropdown-container:hover .dropdown-selector-table {
  display: block;
}

/* Table styles */
.issues-table {
  width: 100%;
  overflow-x: auto; /* Allows table to scroll on small screens */
  /* box-shadow: 0 0 20px rgb(0 0 0 / 10%); */
  border-collapse: collapse;
}

.issues-table th,
.issues-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--color-border); /* Light border for definition */
}

.issues-table th {
  align-items: center; /* Center vertically */
  background-color: var(--background-color-table-header); /* Light background color */
}

.issues-table tbody tr:hover {
  background-color: var(--background-color-top-nav); /* Light blue on hover */
  cursor: pointer; /* Indicate that it's clickable */
}

.issues-table tr[data-severity="3"] .table-risk-level {
  background-color: var(--high-risk-color);
  border-radius: 8px;
  padding: 2px 7px;
  color: var(--text-body);
}
.issues-table tr[data-severity="2"] .table-risk-level {
  background-color: var(--medium-risk-color);
  border-radius: 8px;
  padding: 2px 7px;
  color: var(--text-body);
}
.issues-table tr[data-severity="1"] .table-risk-level {
  background-color: var(--low-risk-color);
  border-radius: 8px;
  padding: 2px 7px;
  color: var(--text-body);
}
.issues-table tr[data-severity="0"] .table-risk-level {
  background-color: var(--no-risk-color);
  border-radius: 8px;
  padding: 2px 7px;
  color: var(--text-body);
}
.issues-table tr[data-severity="4"] .table-risk-level {
  background-color: var(--info-color);
  border-radius: 8px;
  padding: 2px 7px;
  color: var(--text-body);
}

/* Sort icon */
.issues-table .material-symbols-outlined {
  font-size: 1.2em;
  float: right;
  margin-left: auto; /* Align icon to the right using margin */
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

/* Issue pages */

/* Button styles */
.button {
  background-color: var(--background-color-left-nav);
  color: #fff;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none; /* Remove underline from links styled as buttons */
  display: inline-block; /* Allows padding and width to take effect */
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer; /* Indicate that it's clickable */
  border: none; /* Remove borders for flat design */
  font-size: 16px; /* Increase font size for readability */
  margin: 5px; /* Add some space around buttons */
}

.button:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
  color: #dcdcdc; /* Light grey text color on hover for better contrast */
}

/* Specific Styles for Navigation Buttons */
#back-button, #next-button, #previous-button, #scan-button{
  width: auto; /* Auto width based on content */
  padding: 10px 15px; /* Sufficient padding for touch targets */
  float: none; /* Remove float property */
}

/* Ensure buttons don't line up against each other */
#next-button {
  margin-left: 10px; /* Add space between buttons */
}

#previous-button {
  margin-right: 10px; /* Add space between buttons */
}

/* Responsive design */
@media (width <= 768px) {
  .button, #back-button, #next-button, #previous-button, #scan-button {
    width: 100%; /* Full width on small screens */
    margin-top: 10px; /* Space out stacked buttons */
  }
}

/* Solution Buttons Container */
.solution-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center buttons in the container */
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.button-box {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap */
}

/* Additional styles for better visual */
.issue-information, .issue-solution {
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Add shadow for depth */
  border: 1px solid var(--border-color); /* Light border for definition */
  margin: 20px; /* Add space around the elements */
  background-color: var(--background-color-top-nav); /* Light background color */
  border-radius: 10px; /* Rounded corners for a softer look */
  padding: 10px; /* Add padding for space inside the elements */
}

/* Additional styles for other elements */
h1, h2{
  color: var(--text-body);
  margin: 10px;
  padding: 10px 0 10px 10px; /* Add some padding to create space around the titles */
}

.issue-information > p{
  margin-left: 20px;
}

.information{
  margin-left: 20px;
}

#step-screenshot {
  display: block;
  max-width: 100%; /* Make it responsive */
  height: auto;
  margin-top: 20px;
}