@import url(color-palette.css);

/* Setting box */
.personalize {
    /* float: left; */
    padding: 20px;
    display: flex;
    float: left;
    color: var(--dark-text);
    width: 70%;
    margin-left: 240px;
}
.favicon-mode {
    margin-top: 70px;
}
.personalize-description {
    float: left;
    width: 200px;
}
hr.solid {
    border-top: 1px solid var(--dark-text);
    float: left;
    margin-left: 260px;
    width: 70%;
}

.personalize-label{
  display: block;
  position: relative;
  background-color: var(--blue);
  color: var(--light-text-hover);
  cursor: pointer;
  text-align: center;
}

.personalize-button-container{
  position: relative;
  /* display: inline-block; */
  width: 80px; /*60*/
  height: 22px; /*34*/
  float: right;
  margin-left: auto;
  margin-right: 10px;
}

.personalize-input-invisible{
  display:none;
}
