/* RESPONSIVE SIZING */

/* Home page */
@media (width <= 768px) {
  .container-home {
    flex: 1 1 100%; /* Full width on smaller screens */
  }

  .issue-button {
    padding: 8px 16px; /* Smaller padding on smaller screens */
    max-width: 90%;
  }
}

/* Navigation */
@media only screen and (width <= 799px) {
    #page-contents {
      margin-left: 0;
    }

    .left-nav {
        visibility: hidden;
        height: 10vh;
    }

    .header-hamburger {
        visibility: visible;
        width: auto;
        font-size: 1.4em;
    }

    .header-hamburger.container {
        width: 60px;
        margin-left: 10px;
    }
}

@media only screen and (width >= 800px) {
    #page-contents {
      margin-left: 240px;
    }

    .left-nav {
        visibility: visible;
    }

    .header-hamburger {
        visibility: hidden;
        width: 0;
        height: 0;
        font-size: 0;
    }

    .header-hamburger.container {
        width: 0;
        margin-left: 0;
    }
}

/* This hides the title on navigation */
@media screen and (width <= 550px) {
  .header-name h1 {
      display: none; 
  }
}