/* RESPONSIVE SIZING */

@media only screen and (max-width: 600px) {
    .data-column {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
  
    .security-area .material-symbols-outlined {
      font-size: 50px;
      display: block;
    }
    .dashboard-data {
      display: block;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .security-areas {
      overflow-x: scroll;
    }
  }