/* 
Color palette able to be used throughout pages
Should later on be able to be changed by user, with help of js
*/

:root {
    --hue: 200;
    --hueComplement: calc(var(--hue) + 180);
    --hueRightAnalogous: calc(var(--hue) + 30);
    --hueLeftAnalogous: calc(var(--hue) - 30);
    
    --primary: hsl(var(--hue) 25% 95%);
    --primaryDark500: hsl(var(--hue) 20% 85%);
    --primaryDark600: hsl(var(--hue) 20% 75%);
    --secondary: hsl(var(--hueComplement) 5% 25%);
    --secondaryLight500: hsl(var(--hueComplement) 5% 30%);
    --secondaryLight900: hsl(var(--hueComplement) 5% 95%);
    --secondaryDark500: hsl(var(--hueComplement) 5% 20%);
    --accentV1: hsl(var(--hueRightAnalogous) 40% 40%);
    --accentV1Light900: hsl(var(--hueRightAnalogous) 40% 95%);
    --accentV2: hsl(var(--hueLeftAnalogous) 40% 40%);
    --accentV2Light900: hsl(var(--hueLeftAnalogous) 40% 90%);
  }