@import url(color-palette.css);

body {
    background-color: var(--primary);
  }
  
  h2 {
    color: white;
  }

  nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #0a0a23;
  }

  ul {
    padding: 0;
  }
  
  a {
    font-weight: 700;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #fff;
  }