@import url(color-palette.css);

#issues-table {
    float: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* border-collapse: collapse; */
    width: 70%;
    margin: 20px;
    margin-top: 60px;
}

#issues-table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#issues-table tr:nth-child(even){background-color: var(--light-blue);}

#issues-table tr:hover {background-color: var(--light-blue);}

#issues-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: var(--dark-text);
}